@page "/cars/cardetail/{carId:long}"
@using CarMarket.Core.Car.Domain
@using CarMarket.BusinessLogic.Image.Service
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Car Detail</h3>
<hr />

<div class="col-12 row">

    @if (CarDetails != null)
    {
        <h5 class="col-12 row" style="font-weight:bold">Title: @CarDetails.Model.Name
            <br>Price: $@CarDetails.Price
        </h5>
        <h6 class="col-12 row">Type: @CarDetails.CarType</h6>
        <h6 class="col-12 row">Description: @CarDetails.Description</h6>

        <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
        @foreach(var image in CarDetails.CarImages)
        {
            <img src="@ImageService.ConvertImageToDisplay(image)" style="display: inline; padding: 16px; text-decoration: none; height: 150px"/>
        }
        </ul>

        <h5 class="col-12 row" style="font-weight:bold">Car owner contacts</h5>
        <h6 class="col-12 row">Owner: @($"{CarDetails.Owner.FirstName} {CarDetails.Owner.LastName}")
        <br />Email: @CarDetails.Owner.Email
        <br />Phone number: @CarDetails.Owner.PhoneNumber</h6>
    }
</div>

@code {

    [Parameter]
    public long CarId { get; set; }

    public CarModel CarDetails { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            CarDetails = await Http.GetFromJsonAsync<CarModel>("https://localhost:10001/api/Car/GetCar/" + CarId);
        }
        catch
        {
            Navigation.NavigateTo("/");
        }
    }
}