@page "/cars"
@using BlazorInputFile
@using CarMarket.BusinessLogic.Image.Service
@using CarMarket.Core.Car.Domain
@inject HttpClient Http
@using CarMarket.Core.Image.Domain
@using System.IO

<h1>Cars Controller</h1>

<p>Add car</p>


    <BlazorInputFile.InputFile OnChange="HandleFilesSelected"></BlazorInputFile.InputFile>
    <br>
    <BlazorInputFile.InputFile OnChange="HandleFilesSelected"></BlazorInputFile.InputFile>
    <br>
    <BlazorInputFile.InputFile OnChange="HandleFilesSelected"></BlazorInputFile.InputFile>
    <br>

    <input @bind="newCarName" placeholder="Enter car name" />
    <input @bind="newCarDescription" placeholder="Enter description" />
    <input @bind="newCarPrice" placeholder="Enter price" />
    <input @bind="newCarType" placeholder="Enter car type name" />

    <button @onclick="AddCarAsync">Add car</button>

<p>Delete car</p>

<input @bind="deleteCarId" placeholder="Enter the Id of the car you want to delete" />
<button @onclick="DeleteCarAsync">Delete</button>

<p>All cars</p>

@if (cars == null)
{
    <p><em>Loading cars...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>CarType</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
                <tr>
                    <td>
                        <NavLink href=@string.Format("/cars/cardetail/{0}", car.Id)>
                          @car.Id
                        </NavLink>
                    </td>
                    <td><img src="@ImageService.ConvertImageToDisplay(car.CarImages.FirstOrDefault())" width="100px;"/></td>
                    <td>@car.Name</td>
                    <td>@car.CarType</td>
                    <td>@car.Description</td>
                    <td>@car.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CarModel> cars;
    private CarModel car;
    private string newCarName;
    private string newCarDescription;
    private int newCarPrice;
    private CarType newCarType;
    private long deleteCarId;
    
    private List<ImageModel> newCarImages = new List<ImageModel>();

    void HandleFilesSelected(IFileListEntry[] files)
    {
        Parallel.ForEach(files, file =>
        {
            if (file != null)
            {
                var ms = new MemoryStream();
                file.Data.CopyToAsync(ms).GetAwaiter();

                newCarImages.Add(new ImageModel
            {
                ImageData = ms.ToArray(),
                ImageTitle = file.Name
            });
            }
        });
    }

    private async Task AddCarAsync()
    {
        var newCar = new CarModel
        {
            Name = newCarName,
            Description = newCarDescription,
            CarImages = newCarImages,
            Price = newCarPrice,
            CarType = newCarType
        };

        await Http.PostAsJsonAsync("https://localhost:10001/api/Car/CreateCar", newCar);
        await GetCarModelList();
    }

    private async Task DeleteCarAsync()
    {
        await Http.PostAsJsonAsync<long>("https://localhost:10001/api/Car/DeleteCar/" + deleteCarId, deleteCarId);
        await GetCarModelList();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetCarModelList();
    }

    private async Task GetCarModelList()
    {
        cars = await Http.GetFromJsonAsync<List<CarModel>>("https://localhost:10001/api/Car/GetCars");
    }
}