@page "/"
@using BlazorInputFile
@using BusinessLogic.Image.Service
@using CarMarket.Core.Car.Domain
@using CarMarket.Core.Image.Domain
@using System.IO
@using CarMarket.Core.User.Domain
@using CarMarket.UI.Services.Car
@using CarMarket.UI.Services.CarValuer
@using CarMarket.UI.Services.HttpInterceptor
@inject NavigationManager Navigation
@inject IToastService toastService
@inject IHttpCarValuerService CarValuerService

<style>
    label {
        margin-top: .33em;
        display: block;
        text-align: left;
    }
</style>

<h1>Cars Controller</h1>

<div>
<AuthorizeView Roles="Admin,User">
<button style="float:left;" class="btn btn-success" @onclick="AddCar">Add Car</button>
</AuthorizeView>

<button style="margin-left:10px" type="button" class="btn btn-outline-primary" @onclick="SearchCars">Search</button>
</div>
<br />
<br />
    <GridView ItemType="car" ApiGetDataLink="https://localhost:10001/api/Car/GetCarsByPage" ReloadList="DataUpdated">
            <GridColumns>
                <GridColumn ColumnTitle="Image"></GridColumn>
                <GridColumn ColumnTitle="Brand"></GridColumn>
                <GridColumn ColumnTitle="Model"></GridColumn>
                <GridColumn ColumnTitle="Price"></GridColumn>
                <GridColumn ColumnTitle="Year"></GridColumn>
                <GridColumn ColumnTitle="Car type"></GridColumn>
                <GridColumn ColumnTitle="Owner contact"></GridColumn>
                <AuthorizeView>
                    <Authorized>
                        <GridColumn ColumnTitle="Actions"></GridColumn>
                    </Authorized>
                </AuthorizeView>
            </GridColumns>

        <GridRow Context="car">
            <td style="min-width:auto; max-width:300px">
                <NavLink href=@string.Format("/cars/cardetail/{0}", car.Id)>
                @if (car.CarImages.FirstOrDefault() is not null)
                {
                    <img src="@ImageService.ConvertImageToDisplay(car.CarImages.FirstOrDefault())" class="img-fluid img-thumbnail" style="vertical-align: middle; height: 150px; min-width:fit-content; max-width: fit-content;"/>
                }
                else
                {
                    <img src="https://consulsat-sd.com/wp-content/themes/consultix/images/no-image-found-360x250.png" class="img-fluid img-thumbnail" style="vertical-align: middle; height: 150px" />
                }
                </NavLink>
            </td>
            <td>@car.Model.Brand?.Name</td>
            <td>@car.Model.Name</td>
            <td>$@car.Price</td>
            <td>@car.Year.Year</td>
            <td>@car.Model.Type</td>
            <td>@car.Owner.PhoneNumber</td>
            <AuthorizeView>
                <Authorized>
                    <td>
                    @if (car.Owner.Email.Equals(context.User.Identity.Name) || context.User.IsInRole("Admin"))
                    {
                        <button class="btn btn-primary"
                            @onclick="() => EditCar(car)">
                            <span
                            class="glyphicon glyphicon-pencil"></span>
                            &nbsp; Edit
                        </button>

                        <button class="btn btn-danger"
                            @onclick="(() => DeleteCar(car))">
                            <span
                            class="glyphicon glyphicon-trash"></span>
                            &nbsp; Remove
                        </button>
                    }
                    </td>
                </Authorized>
            </AuthorizeView>
        </GridRow>
    </GridView>
<AuthorizeView>
    <Authorized>
    @if (ShowPopup)
{
        <div style="display:none;">
            @SetUpUserEmail(context)
        </div>
        <!-- This is the popup to create or edit a car -->
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">@TitleContext</h3>
                        <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <!-- Edit form for the current car -->
                <div class="modal-body">
                        <MudTextField @bind-Value="editedCar.Model.Name" Label="Car model name" Variant="Variant.Outlined" AutoFocus=true Validation="@(new Func<string,string>(ValidateModelName))"></MudTextField>

                        <MudTextField Lines=5 @bind-Value="@editedCar.Description" Label="Description" Variant="Variant.Outlined"  ></MudTextField>

                            <MudTextField @bind-Value="editedCar.Price" Label="Price" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" AdornmentColor="Color.Info" Error=@priceError ErrorText="@priceErrorText" />

                            <MudSelect Variant="Variant.Outlined"  T="string" @bind-Value="CurrentCarType" Label="Car type" AnchorOrigin="Origin.BottomCenter" Validation="@(new Func<string,string>(ValidateCarType))">
                                @foreach (var option in Options)
                                {
                                    <MudSelectItem Value="@option" />
                                }
                            </MudSelect>

                            @if (createCar)
                            {
                                <MudSelect Variant="Variant.Outlined" T="string" @bind-Value="CurrentCarBrand" Label="Car brand" AnchorOrigin="Origin.BottomCenter">
                                    @foreach (var brand in CarBrands)
                                    {
                                        <MudSelectItem Value="@brand" />
                                    }
                                </MudSelect>

                                <MudSelect Variant="Variant.Outlined" T="int" @bind-Value="CurrentYearSelection" Label="Year" AnchorOrigin="Origin.BottomCenter">
                                    @foreach (var year in Years)
                                    {
                                        <MudSelectItem Value="@year" />
                                    }
                                </MudSelect>
                            }
                            <br>

                        <Microsoft.AspNetCore.Components.Forms.InputFile id="fileInput" OnChange="HandleFilesSelected" hidden multiple accept=".jpg, .jpeg, .png"/>

                        <MudFab HtmlTag="label"
                                Color="Color.Info"
                                Icon="@Icons.Filled.Image"
                                Label="Load picture"
                                for="fileInput" />

                        @if (editedCar.CarImages.FirstOrDefault() is not null)
                            {
                                <MudText Typo="@Typo.h6">@editedCar.CarImages.Count() File@(editedCar.CarImages.Count() == 1 ? "" : "s"):</MudText>
                                <MudList>
                                    @foreach (var file in editedCar.CarImages)
                                    {
                                        <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                                            @if (file.ImageTitle.Length > 30)
                                            {
                                                @(file.ImageTitle.Remove(30) + "...") 
                                            }
                                            else @file.ImageTitle 
                                            &nbsp;
                                            <code>@file.ImageData.Length bytes</code>
                                        </MudListItem>
                                    }
                                </MudList>
                            }

                            <br>
                            <br>

                        @if (editedCar.Id == 0)
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" @onclick="() => CreateCar(context)">Save</MudButton>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" @onclick="() => UpdateCar()">Update</MudButton>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    </Authorized>
</AuthorizeView>

@code {
    [Inject]
    public IHttpCarService CarService { get; set; }

    [Inject]
    public HttpInterceptorService Interceptor { get; set; }

    public void Dispose() => Interceptor.DisposeEvent();

    public class SearchParameters
    {
        public string CarTitle { get; set; }
        public CarType CarType { get; set; }
    }

    public bool DataUpdated { get; set; } = false;

    private SearchParameters searchParameters = new();
    private CarModel car;
    private CarModel editedCar = new();
    private static List<string> Options = GetCarTypesSelection();
    private List<string> CarBrands = new();

    private int[] Years = Enumerable.Range(1970, DateTime.Now.Year - 1970 + 1).ToArray();
    public int CurrentYearSelection = 2000;

    private string strError = "";
    private bool ShowPopup = false;
    private bool createCar = false;
    private string TitleContext { get; set; }
    private string CurrentCarType { get; set; } = Options.FirstOrDefault();
    private string CurrentCarBrand { get; set; }
    private string CurrentUserEmail { get; set; }

    private string modelErrorText = "Enter car model";

    private bool priceError;
    private string priceErrorText = "Price should be minimum $500";
    private string carTypeError = "Select car type";


    protected async override Task OnInitializedAsync()
    {
        CarBrands = await GetCarBrandsSelection();
        CurrentCarBrand = CarBrands.First();

        base.OnInitializedAsync();
    }

    private string ValidateModelName(string modelName)
    {
        if (string.IsNullOrWhiteSpace(modelName))
            return modelErrorText;
        else return null;
    }

    private async Task<List<string>> GetCarBrandsSelection()
    {
        var brands = await CarService.GetCarBrandsAsync();

        return brands.Select(x => x.Name).ToList();
    }

    private void SearchCars()
    {
        Navigation.NavigateTo("/cars/search");
    }

    private async Task Search()
    {
        if (TryParseCarType(CurrentCarType, out object carType))
        {
            searchParameters.CarType = (CarType)carType;
        }

        await CarService.SearchAsync(searchParameters.CarTitle, searchParameters.CarType, null);
    }

    private object SetUpUserEmail(AuthenticationState context)
    {
        CurrentUserEmail = context.User.Identity.Name;

        return CurrentUserEmail;
    }

    private async Task HandleFilesSelected(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            if ((file != null) && (ImageService.IsImage(file.Name)))
            {
                var ms = new byte[file.Size];

                await file.OpenReadStream().ReadAsync(ms);

                editedCar.CarImages.Add(new ImageModel
                    {
                        ImageData = ms,
                        ImageTitle = file.Name
                    });

                toastService.ShowInfo("Successfull uploading");
            }

            else
            {
                strError += $"\nFile {file.Name} is not supported.\n";
                toastService.ShowError(strError);
            }
        }
    }

    private void AddCar()
    {
        editedCar = new()
        {
            Owner = new(),
            CarImages = new List<ImageModel>(),
            Model = new()
        };

        TitleContext = "Add new car";
        createCar = true;
        ShowPopup = true;
    }

    private async Task CreateCar(AuthenticationState context)
    {
        strError = string.Empty;

        if (!SetCarType(CurrentCarType)) return;
        if (string.IsNullOrWhiteSpace(editedCar.Model.Name)) strError += $"\n{modelErrorText}";
        if (editedCar.Price < 500)
        {
            priceError = true;
            strError += $"\n{priceErrorText}";
        }
        else
        {
            priceError = false;
        }

        if (CurrentYearSelection == 0) strError += "\nSelect year";

        editedCar.Year = ConvertYearsFromInt(CurrentYearSelection);

        editedCar.Owner = new()
            {
                Email = context.User.Identity.Name
            };

        editedCar.Model.Brand = new Brand
            {
                Name = CurrentCarBrand
            };

        if (string.IsNullOrWhiteSpace(strError))
        {
            ShowPopup = false;

            var createdCar = await CarService.CreateAsync(editedCar);

            if (createdCar != null)
            {
                toastService.ShowSuccess($"{createdCar.Model.Name} was successfully created!");

                DataUpdated = true;

                try
                {
                    var cost = CarValuerService.AddAsync(new CarViewModel
                    {
                        Model = createdCar.Model,
                        Year = createdCar.Year,
                        Price = createdCar.Price
                    }, System.Threading.CancellationToken.None);
                }
                catch
                {

                }
            }
            else toastService.ShowError($"Error with creating a new car");
        }
    }

    private async void EditCar(CarModel updatedCar)
    {
        createCar = false;

        TitleContext = "Edit car";

        editedCar = updatedCar;

        CurrentCarType = editedCar.Model.Type.ToString();

        ShowPopup = true;
    }

    private async Task UpdateCar()
    {
        strError = string.Empty;

        if(!SetCarType(CurrentCarType)) 
        {
            toastService.ShowError(strError);
            return;
        }

        editedCar.Owner = new()
        {
            Email = CurrentUserEmail
        };

        editedCar.Model.Brand = null;

        if (string.IsNullOrWhiteSpace(strError))
        {
            ShowPopup = false;

            if (await CarService.UpdateAsync(editedCar.Id, editedCar))
            {
                toastService.ShowSuccess($"{editedCar.Model.Name} was successfully updated!");

                DataUpdated = true;
            }
            else toastService.ShowError($"Error with updating {editedCar.Model.Name}");
        }
    }

    private async Task DeleteCar(CarModel car)
    {
        ShowPopup = false;

        if (await CarService.DeleteAsync(car.Id))
        {
            toastService.ShowSuccess($"{car.Model.Name} was successfully deleted!");

            DataUpdated = true;
        }
        else toastService.ShowError($"Error with deleting {car.Model.Name}");
    }

    private void ClosePopup()
    {
        strError = string.Empty;
        ShowPopup = false;
    }

    private DateTime ConvertYearsFromInt(int years)
    {
        return DateTime.ParseExact($"{years}0101", "yyyyMMdd", null);
    }

    private static List<string> GetCarTypesSelection()
    {
        var names = string.Join(",", Enum.GetNames(typeof(CarType)));

        var carTypes = new List<string>();

        carTypes.AddRange(names.Split(',').ToList());

        return carTypes;
    }

    private string ValidateCarType(string carTypeName)
    {
        if (!SetCarType(carTypeName))
            return carTypeError;

        else return null;
    }
    

    private bool SetCarType(string carTypeName)
    {
        if (!TryParseCarType(carTypeName, out object result))
        {
            strError += $"\n{carTypeError}";
            return false;
        }

        editedCar.Model.Type = (CarType)result;

        return true;
    }

    private bool TryParseCarType(string carTypeName, out object carType) => Enum.TryParse(typeof(CarType), carTypeName, out carType);
}