@page "/"
@using BlazorInputFile
@using BusinessLogic.Image.Service
@using CarMarket.Core.Car.Domain
@using CarMarket.Core.Image.Domain
@using System.IO
@using CarMarket.Core.User.Domain
@using CarMarket.UI.Services.Car
@using CarMarket.UI.Services.CarValuer
@inject NavigationManager Navigation
@inject IToastService toastService
@inject IHttpCarValuerService CarValuerService

<style>
    label {
        margin-top: .33em;
        display: block;
        text-align: left;
    }
</style>

<h1>Cars Controller</h1>

<div>
<AuthorizeView Roles="Admin,User">
<button style="float:left;" class="btn btn-success" @onclick="AddCar">Add Car</button>
</AuthorizeView>

<button style="margin-left:10px" type="button" class="btn btn-outline-primary" @onclick="SearchCars">Search</button>
</div>
<br />
<br />
    <GridView ItemType="car" ApiGetDataLink="https://localhost:10001/api/Car/GetCarsByPage" ReloadList="DataUpdated">
            <GridColumns>
                <GridColumn ColumnTitle="Image"></GridColumn>
                <GridColumn ColumnTitle="Id"></GridColumn>
                <GridColumn ColumnTitle="Title"></GridColumn>
                <GridColumn ColumnTitle="Price"></GridColumn>
                <GridColumn ColumnTitle="Year"></GridColumn>
                <GridColumn ColumnTitle="Brand"></GridColumn>
                <GridColumn ColumnTitle="Model"></GridColumn>
                <GridColumn ColumnTitle="Car type"></GridColumn>
                <AuthorizeView>
                    <Authorized>
                        <GridColumn ColumnTitle="Actions"></GridColumn>
                    </Authorized>
                </AuthorizeView>
            </GridColumns>

        <GridRow Context="car">
            <td style="min-width:auto; max-width:300px">
                <NavLink href=@string.Format("/cars/cardetail/{0}", car.Id)>
                @if (car.CarImages.Count > 0)
                {
                    <img src="@ImageService.ConvertImageToDisplay(car.CarImages.FirstOrDefault())" class="img-fluid img-thumbnail" style="vertical-align: middle; height: 150px; width: fit-content"/>
                }
                else
                {
                    <img src="https://consulsat-sd.com/wp-content/themes/consultix/images/no-image-found-360x250.png" class="img-fluid img-thumbnail" style="vertical-align: middle; height: 150px" />
                }
                </NavLink>
            </td>
            <td>@car.Id</td>
            <td>@car.Model.Name</td>
            <td>$@car.Price</td>
            <td>@car.Year.Year</td>
            <td>@car.Model.Brand?.Name</td>
            <td>@car.Model.Name</td>
            <td>@car.Model.Type</td>
            <AuthorizeView>
                <Authorized>
                    @if (car.Owner.Email.Equals(context.User.Identity.Name) || context.User.IsInRole("Admin"))
                    {
                        <button class="btn btn-primary"
                            @onclick="() => EditCar(car)">
                            Edit
                        </button>

                        <button class="btn btn-danger"
                            @onclick="(() => DeleteCar(car))">
                            Delete
                        </button>
                    }
                </Authorized>
            </AuthorizeView>
        </GridRow>
    </GridView>
<AuthorizeView>
    <Authorized>
    @if (ShowPopup)
{
        <div style="display:none;">
            @SetUpUserEmail(context)
        </div>
        <!-- This is the popup to create or edit a car -->
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">@TitleContext</h3>
                        <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <!-- Edit form for the current car -->
                <div class="modal-body">
                   
                    <label for="name">Car model name</label>
                        <input id=name class="form-control" type="text"
                                placeholder="Name"
                                @bind="editedCar.Model.Name" />

                                <label for="description">Description</label>
                        <input id="description" class="form-control" type="text"
                            placeholder="Description"
                            @bind="editedCar.Description" />

                            <label for="price">Price</label>
                        <input id="price" class="form-control" type="number"
                            placeholder="Price"
                            @bind="editedCar.Price" />

                            <label for="cartype">Car type</label>
                        <select id="cartype" class="form-control" aria-label=".form-control"
                            @bind="@CurrentCarType">
                            @foreach (var option in Options)
                            {
                                <option value="@option">
                                    @option
                                </option>
                            }
                        </select>

                            @if (createCar)
                            {
                                <label for="brand">Brand</label>
                                <select id="brand" class="form-control"
                            @bind="@CurrentCarBrand">
                                    @foreach (var brand in CarBrands)
                                    {
                                        <option value="@brand">
                                            @brand
                                        </option>
                                    }
                                </select>

                                <label for="year">Year</label>
                                <select id="year" class="form-control"
                            @bind="CurrentYearSelection">
                                    @foreach (var year in Years)
                                    {
                                        <option value="@year">
                                            @year
                                        </option>
                                    }
                                </select>
                            }
                            <br>
                        <p>Images</p>
                        <BlazorInputFile.InputFile OnChange="HandleFilesSelected"></BlazorInputFile.InputFile>
                        <br>
                        <BlazorInputFile.InputFile OnChange="HandleFilesSelected"></BlazorInputFile.InputFile>
                        <br>
                        <BlazorInputFile.InputFile OnChange="HandleFilesSelected"></BlazorInputFile.InputFile>
                        <br>
                        <br />
                        <br />

                        @if (editedCar.Id == 0)
                        {
                            <button class="btn btn-primary"
                            @onclick="() => CreateCar(context)">
                                Save
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-secondary"
                            @onclick="() => UpdateCar()">
                                Update
                            </button>
                        }
                        <span style="color:red">@strError</span>
                    </div>
                </div>
            </div>
        </div>
    }
    </Authorized>
</AuthorizeView>

@code {
    [Inject]
    public IHttpCarService CarService { get; set; }

    public class SearchParameters
    {
        public string CarTitle { get; set; }
        public CarType CarType { get; set; }
    }

    public bool DataUpdated { get; set; } = false;

    private SearchParameters searchParameters = new();
    private CarModel car;
    private CarModel editedCar = new();
    private static List<string> Options = GetCarTypesSelection();
    private List<string> CarBrands = new();

    private int[] Years = Enumerable.Range(1970, DateTime.Now.Year - 1970).ToArray();
    public int CurrentYearSelection = 2000;

    private string strError = "";
    private bool ShowPopup = false;
    private bool createCar = false;
    private string TitleContext { get; set; }
    private string CurrentCarType { get; set; } = Options.FirstOrDefault();
    private string CurrentCarBrand { get; set; }
    private string CurrentUserEmail { get; set; }


    protected async override Task OnInitializedAsync()
    {
        CarBrands = await GetCarBrandsSelection();
        CurrentCarBrand = CarBrands.First();

        base.OnInitializedAsync();
    }


    private async Task<List<string>> GetCarBrandsSelection()
    {
        var brands = await CarService.GetCarBrandsAsync();

        return brands.Select(x => x.Name).ToList();
    }

    private void SearchCars()
    {
        Navigation.NavigateTo("/cars/search");
    }

    private async Task Search()
    {
        if (TryParseCarType(CurrentCarType, out object carType))
        {
            searchParameters.CarType = (CarType)carType;
        }

        await CarService.SearchAsync(searchParameters.CarTitle, searchParameters.CarType, null);
    }

    private object SetUpUserEmail(AuthenticationState context)
    {
        CurrentUserEmail = context.User.Identity.Name;

        return CurrentUserEmail;
    }

    private async Task HandleFilesSelected(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();

        if ((file != null) && (ImageService.IsImage(file.Name)))
        {
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);

            editedCar.CarImages.Add(new ImageModel
            {
                ImageData = ms.ToArray(),
                ImageTitle = file.Name
            });
        }
        else strError += $"\nFile {file.Name} is not supported.\n";
    }

    private void AddCar()
    {
        editedCar = new()
        {
            Owner = new(),
            CarImages = new List<ImageModel>(),
            Model = new()
        };

        TitleContext = "Add new car";
        createCar = true;
        ShowPopup = true;
    }

    private async Task CreateCar(AuthenticationState context)
    {
        strError = string.Empty;

        if (!SetCarType(CurrentCarType)) return;
        if (string.IsNullOrWhiteSpace(editedCar.Model.Name)) strError += "\nEnter car title";
        if (editedCar.Price < 500) strError += "\nEnter correct price";
        if (CurrentYearSelection == 0) strError += "\nSelect year";

        editedCar.Year = ConvertYearsFromInt(CurrentYearSelection);

        editedCar.Owner = new()
            {
                Email = context.User.Identity.Name
            };

        editedCar.Model.Brand = new Brand
            {
                Name = CurrentCarBrand
            };

        if (string.IsNullOrWhiteSpace(strError))
        {
            ShowPopup = false;

            var createdCar = await CarService.CreateAsync(editedCar);

            if (createdCar != null)
            {
                toastService.ShowSuccess($"{createdCar.Model.Name} was successfully created!");

                DataUpdated = true;

                var cost = await CarValuerService.AddAsync(new CarViewModel
                    {
                        Model = createdCar.Model,
                        Year = createdCar.Year,
                        Price = createdCar.Price
                    }, System.Threading.CancellationToken.None);
            }
            else toastService.ShowError($"Error with creating a new car");
        }
    }

    private async void EditCar(CarModel updatedCar)
    {
        createCar = false;

        TitleContext = "Edit car";

        editedCar = updatedCar;

        CurrentCarType = editedCar.Model.Type.ToString();

        ShowPopup = true;
    }

    private async Task UpdateCar()
    {
        strError = string.Empty;

        if(!SetCarType(CurrentCarType)) 
        {
            toastService.ShowError(strError);
            return;
        }

        editedCar.Owner = new()
        {
            Email = CurrentUserEmail
        };

        editedCar.Model.Brand = null;

        if (string.IsNullOrWhiteSpace(strError))
        {
            ShowPopup = false;

            if (await CarService.UpdateAsync(editedCar.Id, editedCar))
            {
                toastService.ShowSuccess($"{editedCar.Model.Name} was successfully updated!");

                DataUpdated = true;
            }
            else toastService.ShowError($"Error with updating {editedCar.Model.Name}");
        }
    }

    private async Task DeleteCar(CarModel car)
    {
        ShowPopup = false;

        if (await CarService.DeleteAsync(car.Id))
        {
            toastService.ShowSuccess($"{car.Model.Name} was successfully deleted!");

            DataUpdated = true;
        }
        else toastService.ShowError($"Error with deleting {car.Model.Name}");
    }

    private void ClosePopup()
    {
        ShowPopup = false;
    }

    private DateTime ConvertYearsFromInt(int years)
    {
        return DateTime.ParseExact($"{years}0101", "yyyyMMdd", null);
    }

    private static List<string> GetCarTypesSelection()
    {
        var names = string.Join(",", Enum.GetNames(typeof(CarType)));

        var carTypes = new List<string>()
        {
            "Select car type",
        };

        carTypes.AddRange(names.Split(',').ToList());

        return carTypes;
    }

    private bool SetCarType(string carTypeName)
    {
        if (!TryParseCarType(carTypeName, out object result))
        {
            strError += "\nSelect car type";
            return false;
        }

        editedCar.Model.Type = (CarType)result;

        return true;
    }

    private bool TryParseCarType(string carTypeName, out object carType) => Enum.TryParse(typeof(CarType), carTypeName, out carType);
}