@page "/myCars"
@using CarMarket.BusinessLogic.Image.Service
@using CarMarket.Core.Car.Domain
@using CarMarket.UI.Services.Car
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin,User")]

<p>My cars</p>

@if (cars == null)
{
    <p><em>Loading cars...</em></p>
}
else
{
<table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Car type</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
                <tr>
                    <td>
                            <NavLink href=@string.Format("/cars/cardetail/{0}", car.Id)>
                @if (car.CarImages.Count > 0)
                {
                    <img src="@ImageService.ConvertImageToDisplay(car.CarImages.FirstOrDefault())" height ="150px" />
                }
                else
                {
                    <img src="https://thumbs.dreamstime.com/z/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg" height="150px" />
                }
                </NavLink>
                        </td>
                    <td>@car.Name</td>
                    <td>@car.CarType</td>
                    <td>@car.Description</td>
                    <td>@car.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Inject]
    public IHttpCarService CarService { get; set; }

    private List<CarModel> cars { get; set; }

    protected override async Task OnInitializedAsync()
    {
        cars = (await CarService.GetAllUserCarsByTokenAsync()).ToList();
    }
}
