@page "/cars/search"
@using CarMarket.BusinessLogic.Image.Service
@using CarMarket.Core.Car.Domain
@using CarMarket.Core.Image.Domain
@using System.IO
@using CarMarket.Core.User.Domain
@using CarMarket.UI.Services.Car
@using CarMarket.UI.Services.HttpInterceptor

<h1>Cars Controller</h1>

<input class="form-control" type="text"
    placeholder="Car title" 
    @oninput ="SearchByTitle" />
    
<select class="form-control"
    @onchange="SearchByType">
    @foreach (var carType in CarTypes)
    {
        <option value="@carType">
            @carType
        </option>
    }
</select>

<select class="form-control"
    @onchange="SearchByBrand">
    @foreach (var carBrand in CarBrands)
    {
        <option value="@carBrand">
            @carBrand
        </option>
    }
</select>

<button class="btn btn-secondary" @onclick="ClearSearchParameters">Clear search parameters</button>


@if (cars == null)
{
    <p><em>Sorry, no results were found</em></p>
}
else
{
<table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Car type</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
                <tr>
                    <td>
                    <NavLink href=@string.Format("/cars/cardetail/{0}", car.Id)>
                        @if (car.CarImages.Count > 0)
                        {
                            <img src="@ImageService.ConvertImageToDisplay(car.CarImages.FirstOrDefault())" height ="150px" />
                        }
                        else
                        {
                            <img src="https://consulsat-sd.com/wp-content/themes/consultix/images/no-image-found-360x250.png" height="150px" />
                        }
                        </NavLink>
                    </td>
                    <td>@car.Model.Name</td>
                    <td>@car.Model.Type</td>
                    <td>$@car.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Inject]
    public IHttpCarService CarService { get; set; }

    [Inject]
    public HttpInterceptorService Interceptor { get; set; }
    public void Dispose() => Interceptor.DisposeEvent();

    public class SearchParameters
    {
        public string CarTitle { get; set; }
        public CarType? CarType { get; set; }
        public string? Brand { get; set; }
    }

    private SearchParameters searchParameters = new();
    private static List<string> CarTypes = GetCarTypesSelection();
    private string CurrentCarType { get; set; } = "Select car type";
    private static List<string> CarBrands { get; set; } = new List<string>();

    public IEnumerable<CarModel> cars;

    protected override async Task OnInitializedAsync()
    {
        cars = await CarService.GetAllAsync();
        CarBrands.Add("All");
        CarBrands.AddRange(await GetCarBrandsSelection());
    }

    private async Task<List<string>> GetCarBrandsSelection()
    {
        var brands = await CarService.GetCarBrandsAsync();

        return brands.Select(x => x.Name).ToList();
    }

    private async Task Search()
    {
        searchParameters.CarType = TryParseCarType(CurrentCarType, out object carType) ? (CarType)carType : null;

        await GetCarsFromApiAsync();
    }

    private async void SearchByBrand(ChangeEventArgs e)
    {
        if (e.Value.ToString().Equals("All"))
        {
            searchParameters.Brand = null;
        }
        else
        {
            searchParameters.Brand = e.Value.ToString();
        }

        await Search();
    }

    private async void SearchByTitle(ChangeEventArgs e)
    {
        searchParameters.CarTitle = e.Value.ToString();

        await Search();
    }

    private async void SearchByType(ChangeEventArgs e)
    {
        CurrentCarType = e.Value.ToString();

        await Search();
    }

    private async Task ClearSearchParameters()
    {
        searchParameters.CarTitle = null;
        searchParameters.CarType = null;
        searchParameters.Brand = null;

        CurrentCarType = "Select car type";

        await GetCarsFromApiAsync();
    }

    private async Task GetCarsFromApiAsync()
    {
        cars = await CarService.SearchAsync(searchParameters.CarTitle, searchParameters.CarType, searchParameters.Brand);

        StateHasChanged();
    }

    private static List<string> GetCarTypesSelection()
    {
        var names = string.Join(",", Enum.GetNames(typeof(CarType)));

        var carTypes = new List<string>()
        {
            "Select car type",
        };

        carTypes.AddRange(names.Split(',').ToList());

        return carTypes;
    }

    private bool TryParseCarType(string carTypeName, out object carType) => Enum.TryParse(typeof(CarType), carTypeName, out carType);
}