@page "/admin/users"
@using CarMarket.Core.User.Domain
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http

@attribute [Authorize(Roles = "Admin")]

<h1>Users Controller</h1>

<div class="col-12">
    <h3><b>Add User</b></h3>
    <hr />

<EditForm Model="@newUser" OnValidSubmit="@AddUserAsync">
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">first name :</label>
            <InputText class="form-control col-3" @bind-Value="newUser.FirstName" placeholder="first name" />
            <ValidationMessage For="@(() => newUser.FirstName)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">last name :</label>
            <InputText class="form-control col-3" @bind-Value="newUser.LastName" placeholder="last name" />
            <ValidationMessage For="@(() => newUser.LastName)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">email address :</label>
            <InputText class="form-control col-3" @bind-Value="newUser.Email" placeholder="email address" />
            <ValidationMessage For="@(() => newUser.Email)" />
        </div>
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">password :</label>
            <InputText class="form-control col-3" @bind-Value="newUser.PasswordHash" placeholder="password" />
            <ValidationMessage For="@(() => newUser.PasswordHash)" />
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
        </div>
    </EditForm>
</div>
<br />

<p>All users</p>

@if (users == null)
{
    <p><em>Loading users...</em></p>
}
else
{
     <GridView Items="@users">
         <GridColumns>
            <GridColumn ColumnTitle="Id"></GridColumn>
            <GridColumn ColumnTitle="FirstName"></GridColumn>
            <GridColumn ColumnTitle="LastName"></GridColumn>
            <GridColumn ColumnTitle="Email"></GridColumn>
            @*<GridColumn ColumnTitle="Role"></GridColumn>*@
            <GridColumn ColumnTitle="Encrypted Password"></GridColumn>
        </GridColumns>

        <GridRow Context="user">
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    @*<td>@user.Role?.RoleName</td>*@
                    <td>@user.PasswordHash</td>
        </GridRow>
    </GridView>
}

@code {

    private List<UserModel> users;
    private UserModel user;
    private UserModel newUser = new UserModel();

    //private List<Permission> newUserPermissions; TODO: How to get list of permissions and select there?

    private async Task AddUserAsync()
    {
        await Http.PostAsJsonAsync("https://localhost:10001/api/User/CreateUser", newUser);
        await GetUserModelList();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetUserModelList();
    }

    private async Task GetUserModelList()
    {
        users = await Http.GetFromJsonAsync<List<UserModel>>("https://localhost:10001/api/User/GetUsers");
    }
}
